{
  "openapi": "3.1.0",
  "info": {
    "title": "Proxy",
    "description": "Virtual card issuing platform for AI agents",
    "version": "1.0.0",
    "contact": {
      "name": "Proxy Support",
      "url": "https://useproxy.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.useproxy.ai",
      "description": "API (use lk_test_ keys for sandbox, lk_live_ keys for production)"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/users": {
      "post": {
        "operationId": "createUser",
        "summary": "Create user",
        "description": "Create a new user. After creation, initiate KYC verification via POST /v1/verification/user.",
        "tags": ["Users"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/users/{userId}": {
      "get": {
        "operationId": "getUser",
        "summary": "Get user",
        "description": "Get details of a specific user.",
        "tags": ["Users"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateUser",
        "summary": "Update user",
        "description": "Update user properties.",
        "tags": ["Users"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteUser",
        "summary": "Delete user",
        "description": "Delete a user. The user must have no active agents or cards.",
        "tags": ["Users"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/verification/user": {
      "post": {
        "operationId": "initiateVerification",
        "summary": "Initiate KYC verification",
        "description": "Initiate KYC verification for a user. Returns a link for the user to complete verification.",
        "tags": ["Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiateVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatus"
                },
                "example": {
                  "object": "verification",
                  "userId": "user_abc123",
                  "applicationStatus": "pending",
                  "verificationUrl": "https://kyc.useproxy.ai/verify/xyz789"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/verification/user/{userId}": {
      "get": {
        "operationId": "getVerificationStatus",
        "summary": "Get KYC status",
        "description": "Get the current KYC verification status for a user.",
        "tags": ["Verification"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateVerification",
        "summary": "Update KYC information",
        "description": "Update user information for KYC verification.",
        "tags": ["Verification"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/verification/user/{userId}/document": {
      "put": {
        "operationId": "uploadVerificationDocument",
        "summary": "Upload KYC document",
        "description": "Upload a document for KYC verification.",
        "tags": ["Verification"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "documentType": {
                    "type": "string",
                    "enum": ["passport", "driversLicense", "nationalId", "proofOfAddress"]
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": ["documentType", "file"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/verification/user/{userId}/link": {
      "get": {
        "operationId": "getVerificationLink",
        "summary": "Get KYC verification link",
        "description": "Get the KYC verification link for a user. Use this to retrieve the link if the user lost it or needs a fresh URL. Returns an error if KYC is already completed.",
        "tags": ["Verification"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification link",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": ["verification_link"]
                    },
                    "userId": {
                      "type": "string",
                      "description": "The user ID"
                    },
                    "verificationUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL for the user to complete KYC verification"
                    },
                    "applicationStatus": {
                      "type": "string",
                      "enum": ["notStarted", "pending", "needsInformation", "needsVerification", "manualReview"],
                      "description": "Current KYC status"
                    }
                  },
                  "required": ["object", "userId", "verificationUrl", "applicationStatus"]
                },
                "example": {
                  "object": "verification_link",
                  "userId": "user_abc123",
                  "verificationUrl": "https://kyc.useproxy.ai/verify/xyz789",
                  "applicationStatus": "pending"
                }
              }
            }
          },
          "400": {
            "description": "KYC already completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": {
                    "type": "invalid_request_error",
                    "code": "kyc_already_completed",
                    "message": "User has already completed KYC verification"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/balances/{userId}": {
      "get": {
        "operationId": "getUserBalance",
        "summary": "Get user balance",
        "description": "Get the user's credit limit, spending power, and charges.",
        "tags": ["Funds"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserBalance"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{userId}/funding": {
      "get": {
        "operationId": "getUserFunding",
        "summary": "Get funding methods",
        "description": "Get the user's available funding methods including crypto deposit addresses. More funding methods (bank transfers, etc.) will be added in future releases.",
        "tags": ["Users"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "responses": {
          "200": {
            "description": "User funding methods",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserFunding"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/withdrawals": {
      "get": {
        "operationId": "listWithdrawals",
        "summary": "List withdrawals",
        "description": "List all withdrawals. Filter by userId query parameter.",
        "tags": ["Funds"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Filter by user ID"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawalList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createWithdrawal",
        "summary": "Create withdrawal",
        "description": "Withdraw funds from a user's deposit address.",
        "tags": ["Funds"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWithdrawalRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Withdrawal"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/withdrawals/{withdrawalId}": {
      "get": {
        "operationId": "getWithdrawal",
        "summary": "Get withdrawal",
        "description": "Get a specific withdrawal by ID.",
        "tags": ["Funds"],
        "parameters": [
          {
            "name": "withdrawalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The withdrawal ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Withdrawal"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{userId}/cards": {
      "get": {
        "operationId": "listUserCards",
        "summary": "List user's cards",
        "description": "List all cards across all agents for a user.",
        "tags": ["Users"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Card list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{userId}/statements": {
      "get": {
        "operationId": "listStatements",
        "summary": "List statements",
        "description": "List monthly statements for a user. Statements are generated automatically at the end of each month.",
        "tags": ["Statements"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Statement list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{userId}/statements/generate": {
      "post": {
        "operationId": "generateStatement",
        "summary": "Generate statement",
        "description": "Generate an on-demand statement for a custom date range. Returns the statement in JSON format. Use the statementId to download as PDF.",
        "tags": ["Statements"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateStatementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Statement generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Statement"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/users/{userId}/statements/{statementId}": {
      "get": {
        "operationId": "getStatement",
        "summary": "Get statement",
        "description": "Get a statement by ID. Returns JSON by default, or PDF if Accept header is `application/pdf`.",
        "tags": ["Statements"],
        "parameters": [
          {
            "$ref": "#/components/parameters/UserId"
          },
          {
            "name": "statementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The statement ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Statement details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Statement"
                }
              },
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/policies": {
      "get": {
        "operationId": "listPolicies",
        "summary": "List policies",
        "description": "List all policy templates in the organization.",
        "tags": ["Policies"],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createPolicy",
        "summary": "Create policy",
        "description": "Create a reusable policy template that can be applied to agents and cards.",
        "tags": ["Policies"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/policies/{policyId}": {
      "get": {
        "operationId": "getPolicy",
        "summary": "Get policy",
        "description": "Get details of a specific policy template.",
        "tags": ["Policies"],
        "parameters": [
          {
            "$ref": "#/components/parameters/PolicyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updatePolicy",
        "summary": "Update policy",
        "description": "Update a policy template. Changes apply to future cards; existing cards keep their settings.",
        "tags": ["Policies"],
        "parameters": [
          {
            "$ref": "#/components/parameters/PolicyId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Policy updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deletePolicy",
        "summary": "Delete policy",
        "description": "Delete a policy template. Fails if the policy is currently in use by agents or cards.",
        "tags": ["Policies"],
        "parameters": [
          {
            "$ref": "#/components/parameters/PolicyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Policy deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "policy" },
                    "id": { "type": "string" },
                    "deleted": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Policy in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "List agents",
        "description": "List all agents in the organization. Filter by external_id to find a specific agent.",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "external_id",
            "in": "query",
            "description": "Filter by external ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/agents/register": {
      "post": {
        "operationId": "registerAgent",
        "summary": "Register agent",
        "description": "Register an AI agent with Proxy API. Registration is idempotent - registering the same external_id returns the existing agent.",
        "tags": ["Agents"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent registered (or existing agent returned)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterAgentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "Conflict - external_id already registered with different userId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agentId}": {
      "get": {
        "operationId": "getAgent",
        "summary": "Get agent",
        "description": "Get details of a specific agent.",
        "tags": ["Agents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateAgent",
        "summary": "Update agent",
        "description": "Update agent properties like name, status, or spending limits.",
        "tags": ["Agents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/agents/{agentId}/deregister": {
      "post": {
        "operationId": "deregisterAgent",
        "summary": "Deregister agent",
        "description": "Soft-delete an agent. This sets status to deregistered and revokes all tokens. Cards are preserved for audit but cannot transact.",
        "tags": ["Agents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deregistered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/agents/{agentId}/tokens": {
      "get": {
        "operationId": "listAgentTokens",
        "summary": "List agent tokens",
        "description": "List all tokens for an agent.",
        "tags": ["Agents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Token list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentTokenList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createAgentToken",
        "summary": "Create agent token",
        "description": "Create a new token for an agent. The full token is only returned once.",
        "tags": ["Agents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgentTokenResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/agents/{agentId}/tokens/{tokenId}": {
      "delete": {
        "operationId": "revokeAgentToken",
        "summary": "Revoke agent token",
        "description": "Revoke a specific agent token.",
        "tags": ["Agents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "description": "Token ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/agents/{agentId}/policy": {
      "get": {
        "operationId": "getAgentPolicy",
        "summary": "Get agent policy",
        "description": "Get the agent's current spending policy and usage.",
        "tags": ["Agents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentPolicy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/agents/{agentId}/cards": {
      "get": {
        "operationId": "listAgentCards",
        "summary": "List agent's cards",
        "description": "List all cards for a specific agent.",
        "tags": ["Agents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Card list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createCard",
        "summary": "Create card",
        "description": "Issue a new virtual card for an agent.",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/AgentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardRequest"
              },
              "example": {
                "purpose": "Book flight LAX to JFK",
                "type": "single",
                "maxAmount": 50000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                },
                "example": {
                  "id": "card_abc123",
                  "agentId": "agent_xyz789",
                  "userId": "user_def456",
                  "type": "single",
                  "purpose": "Book flight LAX to JFK",
                  "credentialExposure": "rawPan",
                  "status": "active",
                  "last4": "4242",
                  "expirationMonth": "12",
                  "expirationYear": "2025",
                  "maxAmount": 50000,
                  "createdAt": 1703520000000
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/cards/{cardId}": {
      "get": {
        "operationId": "getCard",
        "summary": "Get card",
        "description": "Get details of a specific card.",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Card details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateCard",
        "summary": "Update card limits",
        "description": "Update card spending limits. Use POST /freeze, /unfreeze, /close for status changes.",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/cards/{cardId}/policy": {
      "get": {
        "operationId": "getCardPolicy",
        "summary": "Get card policies",
        "description": "Get the card's current policy settings and status (TTL, active hours, cooldown, etc.).",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Card policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardPolicy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/cards/{cardId}/freeze": {
      "post": {
        "operationId": "freezeCard",
        "summary": "Freeze card",
        "description": "Temporarily freeze a card. The card can be unfrozen later.",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Card frozen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/cards/{cardId}/unfreeze": {
      "post": {
        "operationId": "unfreezeCard",
        "summary": "Unfreeze card",
        "description": "Unfreeze a frozen card to make it active again.",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Card unfrozen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardActionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/cards/{cardId}/close": {
      "post": {
        "operationId": "closeCard",
        "summary": "Close card",
        "description": "Permanently close a card. This cannot be undone.",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Card closed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardActionResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/cards/{cardId}/details": {
      "post": {
        "operationId": "getCardDetails",
        "summary": "Get card credentials",
        "description": "Retrieve card credentials with attestation. Returns full PAN, CVV, and expiration. Requires a summary describing the intended use.",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Card credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardDetailsPan"
                },
                "example": {
                  "accessEventId": "evt_abc123",
                  "pan": "4111111111111111",
                  "cvv": "123",
                  "expirationMonth": "12",
                  "expirationYear": "2025",
                  "last4": "1111"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/cards/{cardId}/transactions": {
      "get": {
        "operationId": "listCardTransactions",
        "summary": "List transactions",
        "description": "List all transactions for a specific card.",
        "tags": ["Cards"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/intents": {
      "get": {
        "operationId": "listIntents",
        "summary": "List all intents",
        "description": "List all intents for your organization. Optionally filter by cardId, agentId, or status.",
        "tags": ["Intents"],
        "parameters": [
          {
            "name": "cardId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by card ID"
          },
          {
            "name": "agentId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by agent ID"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["pending", "pending_approval", "rejected", "matched", "mismatched", "expired", "canceled"]
            },
            "description": "Filter by intent status"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Intent list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntentList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/intents/{intentId}": {
      "get": {
        "operationId": "getIntent",
        "summary": "Get intent",
        "description": "Get details of a specific intent by ID.",
        "tags": ["Intents"],
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The intent ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Intent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Intent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/intents/{intentId}/approve": {
      "post": {
        "operationId": "approveIntent",
        "summary": "Approve intent",
        "description": "Approve a pending intent. Only intents with status `pending_approval` can be approved. Once approved, the intent status changes to `pending` and the agent can access card credentials.",
        "tags": ["Intents"],
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The intent ID to approve"
          }
        ],
        "responses": {
          "200": {
            "description": "Intent approved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Intent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., intent not in pending_approval status)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/intents/{intentId}/reject": {
      "post": {
        "operationId": "rejectIntent",
        "summary": "Reject intent",
        "description": "Reject a pending intent. Only intents with status `pending_approval` can be rejected. Once rejected, the agent cannot access card credentials for this intent.",
        "tags": ["Intents"],
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The intent ID to reject"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string",
                    "description": "Optional reason for rejection"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Intent rejected",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Intent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., intent not in pending_approval status)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/cards/{cardId}/intents": {
      "get": {
        "operationId": "listCardIntents",
        "summary": "List card intents",
        "description": "List all intents for a specific card.",
        "tags": ["Intents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Intent list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntentList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., single-use card)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "operationId": "createIntent",
        "summary": "Create intent",
        "description": "Declare an intent before making a purchase. Creates an audit trail and enables transaction matching. Only available for multi-use cards.",
        "tags": ["Intents"],
        "parameters": [
          {
            "$ref": "#/components/parameters/CardId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Intent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Intent"
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., single-use card, frozen card)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/transactions": {
      "get": {
        "operationId": "listTransactions",
        "summary": "List transactions",
        "description": "List all transactions for your organization. Optionally filter by cardId, userId, or status.",
        "tags": ["Transactions"],
        "parameters": [
          {
            "name": "cardId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by card ID"
          },
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by user ID"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["pending", "completed", "declined", "reversed"]
            },
            "description": "Filter by transaction status"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}": {
      "get": {
        "operationId": "getTransaction",
        "summary": "Get transaction",
        "description": "Get details of a specific transaction.",
        "tags": ["Transactions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateTransaction",
        "summary": "Update transaction",
        "description": "Update transaction metadata such as notes, tags, and category.",
        "tags": ["Transactions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/receipt": {
      "get": {
        "operationId": "getTransactionReceipt",
        "summary": "Get transaction receipt",
        "description": "Get the receipt attached to a transaction.",
        "tags": ["Transactions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReceipt"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "uploadTransactionReceipt",
        "summary": "Upload transaction receipt",
        "description": "Upload a receipt for a transaction. Supports direct file upload (image/*, application/pdf) or JSON with external URL.",
        "tags": ["Transactions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "image/*": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "External URL where receipt is hosted"
                  },
                  "mimeType": {
                    "type": "string",
                    "description": "MIME type of the receipt (e.g., image/png, application/pdf)"
                  }
                },
                "required": ["url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Receipt uploaded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionReceipt"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteTransactionReceipt",
        "summary": "Delete transaction receipt",
        "description": "Remove the receipt from a transaction.",
        "tags": ["Transactions"],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Receipt deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "example": "receipt" },
                    "deleted": { "type": "boolean", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/disputes": {
      "get": {
        "operationId": "listDisputes",
        "summary": "List disputes",
        "description": "List all disputes for your organization. Optionally filter by userId, transactionId, or status.",
        "tags": ["Disputes"],
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by user ID"
          },
          {
            "name": "transactionId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by transaction ID"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["pending", "inReview", "accepted", "rejected", "canceled"]
            },
            "description": "Filter by dispute status"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisputeList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/disputes/{disputeId}": {
      "get": {
        "operationId": "getDispute",
        "summary": "Get dispute",
        "description": "Get details of a specific dispute.",
        "tags": ["Disputes"],
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The dispute ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Dispute details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateDispute",
        "summary": "Update dispute",
        "description": "Cancel a dispute or add text evidence. Status can only be updated to 'canceled'.",
        "tags": ["Disputes"],
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The dispute ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dispute updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/disputes/{disputeId}/evidence": {
      "get": {
        "operationId": "getDisputeEvidence",
        "summary": "Get dispute evidence",
        "description": "Download file evidence attached to a dispute.",
        "tags": ["Disputes"],
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The dispute ID"
          }
        ],
        "responses": {
          "200": {
            "description": "File evidence",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "uploadDisputeEvidence",
        "summary": "Upload dispute evidence",
        "description": "Upload file evidence for a dispute.",
        "tags": ["Disputes"],
        "parameters": [
          {
            "name": "disputeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The dispute ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the evidence"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of evidence"
                  },
                  "evidence": {
                    "type": "string",
                    "format": "binary",
                    "description": "The file to upload (max 20MB)"
                  }
                },
                "required": ["name", "type", "evidence"]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Evidence uploaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Dispute already resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/transactions/{transactionId}/disputes": {
      "post": {
        "operationId": "createDispute",
        "summary": "Create dispute",
        "description": "Create a dispute (chargeback) for a transaction.",
        "tags": ["Disputes"],
        "parameters": [
          {
            "$ref": "#/components/parameters/TransactionId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dispute created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Dispute already exists for this transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/webhooks": {
      "get": {
        "operationId": "listWebhooks",
        "summary": "List webhooks",
        "description": "List all webhook endpoints for your organization.",
        "tags": ["Webhooks"],
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "createWebhook",
        "summary": "Create webhook",
        "description": "Create a new webhook endpoint to receive event notifications.",
        "tags": ["Webhooks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Webhook" },
                    {
                      "type": "object",
                      "properties": {
                        "secret": {
                          "type": "string",
                          "description": "The signing secret for verifying webhook payloads. Only returned on creation."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}": {
      "get": {
        "operationId": "getWebhook",
        "summary": "Get webhook",
        "description": "Get details of a specific webhook endpoint.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateWebhook",
        "summary": "Update webhook",
        "description": "Update a webhook endpoint's URL, description, events, or status.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "deleteWebhook",
        "summary": "Delete webhook",
        "description": "Delete a webhook endpoint.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "enum": ["deleted"] },
                    "id": { "type": "string" },
                    "deleted": { "type": "boolean", "enum": [true] }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}/secret": {
      "get": {
        "operationId": "getWebhookSecret",
        "summary": "Get webhook secret",
        "description": "Retrieve the signing secret for a webhook endpoint. Use this to verify incoming webhook payloads.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecret"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}/rotate-secret": {
      "post": {
        "operationId": "rotateWebhookSecret",
        "summary": "Rotate webhook secret",
        "description": "Rotate the signing secret for a webhook endpoint. Both old and new secrets will work for 24 hours, giving you time to update your server.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "New webhook secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookSecret"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/webhooks/{webhookId}/test": {
      "post": {
        "operationId": "testWebhook",
        "summary": "Test webhook",
        "description": "Send a test event to a webhook endpoint to verify it's receiving events correctly.",
        "tags": ["Webhooks"],
        "parameters": [
          {
            "$ref": "#/components/parameters/WebhookId"
          }
        ],
        "responses": {
          "200": {
            "description": "Test event sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": { "type": "string", "enum": ["test_sent"] },
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "payload": { "type": "object" }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/webhook-event-types": {
      "get": {
        "operationId": "listWebhookEventTypes",
        "summary": "List webhook event types",
        "description": "List all available webhook event types that you can subscribe to.",
        "tags": ["Webhooks"],
        "responses": {
          "200": {
            "description": "List of event types",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEventTypeList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/rake": {
      "get": {
        "operationId": "getRakeConfig",
        "summary": "Get rake configuration",
        "description": "Get your current rake (fee) configuration.",
        "tags": ["Rake"],
        "responses": {
          "200": {
            "description": "Rake configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RakeConfig"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateRakeConfig",
        "summary": "Update rake configuration",
        "description": "Update your rake (fee) configuration.",
        "tags": ["Rake"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRakeConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated rake configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RakeConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/rake/balance": {
      "get": {
        "operationId": "getRakeBalance",
        "summary": "Get rake balance",
        "description": "Get your accumulated fee balance.",
        "tags": ["Rake"],
        "responses": {
          "200": {
            "description": "Fee balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RakeBalance"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/rake/ledger": {
      "get": {
        "operationId": "listRakeLedger",
        "summary": "List rake ledger entries",
        "description": "List fee ledger entries with pagination.",
        "tags": ["Rake"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of entries to return (max 100)",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ledger entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RakeLedgerList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/settings/risk": {
      "get": {
        "operationId": "getRiskConfig",
        "summary": "Get risk configuration",
        "description": "Get your current risk policy configuration.",
        "tags": ["Risk Settings"],
        "responses": {
          "200": {
            "description": "Risk configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskConfig"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateRiskConfig",
        "summary": "Update risk configuration",
        "description": "Update individual risk policy settings. Automatically switches to 'custom' preset.",
        "tags": ["Risk Settings"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRiskConfigRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated risk configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/settings/risk/preset": {
      "post": {
        "operationId": "setRiskPreset",
        "summary": "Apply risk preset",
        "description": "Apply a preset risk configuration (permissive, moderate, strict, or paranoid).",
        "tags": ["Risk Settings"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetRiskPresetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated risk configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskConfig"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/settings/risk/presets": {
      "get": {
        "operationId": "listRiskPresets",
        "summary": "List risk presets",
        "description": "Get available risk presets with their configurations.",
        "tags": ["Risk Settings"],
        "responses": {
          "200": {
            "description": "Available risk presets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RiskPresets"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/settings/risk/dry-run": {
      "post": {
        "operationId": "setRiskDryRun",
        "summary": "Toggle dry-run mode",
        "description": "Enable or disable dry-run mode. When enabled, anomalies are detected and webhooks emitted, but no actions are taken.",
        "tags": ["Risk Settings"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetDryRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dry-run status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DryRunStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/verification/business": {
      "get": {
        "operationId": "getKybStatus",
        "summary": "Get KYB status",
        "description": "Get the current KYB (Know Your Business) verification status and business information for your organization.",
        "tags": ["Business Verification"],
        "responses": {
          "200": {
            "description": "KYB status and business information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KybStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "patch": {
        "operationId": "updateBusinessInfo",
        "summary": "Update business information",
        "description": "Update your organization's business information for KYB verification.",
        "tags": ["Business Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated KYB status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KybStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/verification/business/documents/upload-url": {
      "post": {
        "operationId": "getDocumentUploadUrl",
        "summary": "Get document upload URL",
        "description": "Get a pre-signed URL for uploading a KYB document. After uploading, call POST /v1/verification/business/documents to save the document.",
        "tags": ["Business Verification"],
        "responses": {
          "200": {
            "description": "Upload URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadUrl"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/verification/business/documents": {
      "get": {
        "operationId": "listKybDocuments",
        "summary": "List KYB documents",
        "description": "List all uploaded KYB documents for your organization.",
        "tags": ["Business Verification"],
        "responses": {
          "200": {
            "description": "List of documents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KybDocumentList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "saveKybDocument",
        "summary": "Save KYB document",
        "description": "Save a document after uploading to the URL from POST /v1/verification/business/documents/upload-url.",
        "tags": ["Business Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveKybDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Document saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KybDocument"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/verification/business/documents/{documentId}": {
      "delete": {
        "operationId": "deleteKybDocument",
        "summary": "Delete KYB document",
        "description": "Delete a KYB document.",
        "tags": ["Business Verification"],
        "parameters": [
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Document deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/verification/business/owners": {
      "get": {
        "operationId": "listBeneficialOwners",
        "summary": "List beneficial owners",
        "description": "List all beneficial owners for your organization.",
        "tags": ["Business Verification"],
        "responses": {
          "200": {
            "description": "List of beneficial owners",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwnerList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "operationId": "addBeneficialOwner",
        "summary": "Add beneficial owner",
        "description": "Add a beneficial owner to your organization. Maximum of 4 beneficial owners allowed.",
        "tags": ["Business Verification"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddBeneficialOwnerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Beneficial owner added",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwner"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/verification/business/owners/{ownerId}": {
      "patch": {
        "operationId": "updateBeneficialOwner",
        "summary": "Update beneficial owner",
        "description": "Update a beneficial owner's information.",
        "tags": ["Business Verification"],
        "parameters": [
          {
            "$ref": "#/components/parameters/OwnerId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBeneficialOwnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Beneficial owner updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwner"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "removeBeneficialOwner",
        "summary": "Remove beneficial owner",
        "description": "Remove a beneficial owner from your organization.",
        "tags": ["Business Verification"],
        "parameters": [
          {
            "$ref": "#/components/parameters/OwnerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficial owner removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/verification/business/owners/{ownerId}/verify": {
      "post": {
        "operationId": "initiateBeneficialOwnerVerification",
        "summary": "Initiate owner verification",
        "description": "Initiate Persona verification for a beneficial owner. Sends an email with a verification link.",
        "tags": ["Business Verification"],
        "parameters": [
          {
            "$ref": "#/components/parameters/OwnerId"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeneficialOwner"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/verification/business/submit": {
      "post": {
        "operationId": "submitKybForReview",
        "summary": "Submit KYB for review",
        "description": "Submit your KYB application for review. Requires completed business info, all required documents, and at least one verified beneficial owner.",
        "tags": ["Business Verification"],
        "responses": {
          "200": {
            "description": "KYB submitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KybSubmitResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Api-Key",
        "description": "API key for authentication. Get your key from the Dashboard."
      }
    },
    "parameters": {
      "UserId": {
        "name": "userId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "The user ID"
      },
      "AgentId": {
        "name": "agentId",
        "in": "path",
[...]
